<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	
	
  </head>
  <body>
    <h1><%= title %></h1>
    <section id='searchBox' >
	
		<input type='text' id="query" class='query' />
		
		<input class='submit' type='submit' value='search' />
	
	</section>
	
	<div id='complaints'>
		
	</div>
	
	
	
	
	
	<script src='/vendor/jquery/jquery.min.js' type='text/javascript'></script>
	
	<script src='/vendor/underscore/underscore-min.js' type='text/javascript'></script>
	
	<script src='/vendor/backbone/backbone-min.js' type='text/javascript'></script>
	
	<script src='/app/app.js' type='text/javascript'></script>
	

	
  </body>
</html>